/*=========================================*/
/*BASIC SETUP*/
/*=========================================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-family: 'Titillium Web', sans-serif;
    text-rendering: optimizeLegibility;
}
ul{
    list-style-type: none;
}
/*=========================================*/
/*REUSABLE COMPONENTS*/
/*=========================================*/
.row {
    max-width: 114rem;
    margin: 0 auto;
}
.row:after, .row:before {
    content: "";
    display: table;
    clear: both;
    height: 0;
    visibility: hidden;
}

section {
    padding: 8rem 0;
}

h2{
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    margin-top: 0;
    margin-bottom: 2.2rem;
    text-align: center;
}

h2:after {
    content: "";
    display: block;
    height: .4rem;
    width: 8.6rem;
    background: #14a58c;
    margin: auto;
    margin-top: 2.2rem;
}

h3{
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 3rem;
    text-transform: uppercase;
}

.little-description {
    font-size: 1.8rem;
    font-weight: 400;
    width: 60%;
    margin-left: 20%;
    margin: auto;
    line-height: 2.6rem;
}

.btn:link, .btn:visited, .btn {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
    display: inline-block;
    background: #000;
    border-bottom: 0.2rem solid #fff;
    padding: 2.8rem 8.2rem;
    border-radius: 0.4rem;
}
/* START HEADER SECTION */
header {
    background: linear-gradient(rgba(135, 80, 156, 0.9), rgba(135, 80, 156, 0.9)), url(./img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.logo {
    height: 35px;
    width: auto;
    margin-top: 35px;
    float: left;
}

ul.main-nav {
    float: right;
    margin-top: 40px;
}

ul.main-nav li {
    display: inline-block;
    margin-left: 1rem;
}

ul.main-nav li:first-child {
    margin-left: 0;
}

ul.main-nav li a:link, ul.main-nav li a:visited {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    padding: .6rem 1.5rem;
    background: rgba(100, 58, 121, 0);
    transition: .2s ease-in;
}

ul.main-nav li a:hover {
    background: rgba(100, 58, 121, 1);
}

ul.main-nav li.active{
    background: rgba(100, 58, 121, 1);
}

.hero-text-box {
    margin-top: 14.8rem;
    text-align: center;
}

.hero-text-box h1 {
    font-size: 4.2rem;
    color: #f7f3ea;
    font-weight: 700;
    margin-bottom: 6rem;
    line-height: 4.6rem;
}

.btn-hero:link, .btn-hero:visited {
    background: #eb7d4b;
    border-bottom: 0.4rem solid #c86a40;
}
/* END HEADER SECTION */

/* START SERVICES SECTION */
.services-section {
    text-align: center;
    color: #fff;
    background: linear-gradient(rgba(23, 194, 164, 0.9), rgba(23, 194, 164, 0.9)), url(img/services-bg.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.services-icon {
    height: 12.4rem;
    width: auto;
    margin-top: 8rem;
    margin-bottom: 6rem;
}

.box p {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2rem;
}
/* END SERVICES SECTION */

/* START TEAM SECTION */
.team-section {
    background: linear-gradient(rgba(231, 241, 248, 0.9), rgba(231, 241, 248, 0.9)), url(./img/team-bg.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
}

.team-section h2 {
    color: #3c4761;
}

.team-section h2:after {
    background: #c8d9e5;
}

.team-section .little-description {
    color: #3c4761;
    margin-bottom: 8rem;
}

.team-section .box {
    text-align: center;
}

.team-section .box .team-member {
    margin-bottom: 4rem;
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
}

.team-section .box h4 {
    font-size: 2.4rem;
    font-weight: 700;
    color: #27283d;
    margin-bottom: 1.5rem;
}

.team-section .box .role {
    color: #30bae7;
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 2.8rem;
    display: block;
    text-transform: capitalize;
}

.team-section .box p {
    font-size: 1.6rem;
    font-weight: 300;
    color: #3c4761;
    line-height: 2.6rem;
}

.social-icon {
    margin-top: 2.8rem;
}

.social-icon ul li {
    display: inline-block;
    margin: 0 0.5rem;
}

.social-icon ul li a:link, .social-icon ul li a:visited {
    color: #fff;
}

.social-icon ul li a:link i:before, .social-icon ul li a:visited i:before {
    background: #bdd1df;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    padding: 1rem;
    display: inline-block;
    font-size: 2rem;
    transition: .2s ease-in;
}

.social-icon ul li a:hover i:before {
    background: #393939;
    transform: rotate(360deg);
}
/* END TEAM SECTION */

/* START SKILL SECTION */
.skill-section {
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(./img/skill-bg.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    color: #3c4761;
    text-align: center;
}

.skill-section h2:after {
    background: #dfe8ed;
}

.skill-section .box {
    margin-top: 8.2rem;
}

.skill-section .box h3 {
    margin-top: 2.8rem;
    margin-bottom: 0;
}

svg.radial-progress circle {
    stroke-width: 5;
}

svg.radial-progress text {
    font-size: 1.5rem;
    fill: #3c4761;
    font-weight: 300;
}

.box .web-design circle {
    stroke: #30bae7;
}

.box .html-css circle {
    stroke: #d74680;
}

.box .graphic-design circle {
    stroke: #15c7a8;
}

.box .ui-ux circle {
    stroke: #eb7d4b;
}

/* END SKILL SECTION */
